
*.log
Draft3.pdf
Draft3.synctex.gz
legacy.bbl
legacy.blg
legacy.aux

legacy.out

legacy.pdf

legacy.suppinfo

legacy.synctex.gz

*.vcf

HWE.txt

join.txt

joinedAF.csv

JoinedFrequency.txt

Rejected_Manhattan.R

79095789.txt

Significant6SNPs.txt

ManhattanPlot (Autosaved).R

legacy.blg

legacy.bbl

.Rapp.history

33264017.dev.txt

31384880.txt

33264017.txt

legacy.bbl

*.frq

./sig/*


*.csv

*.txt

Significant6SNPs_adjusted_published.rsID

*.pos

*.rsID

Misc/CompareGwasNormINT (Autosaved).R

Misc/Plot_Pubs.format.R

Misc/CompareGwasNormINT (Autosaved).R

*.tiff
