
*.log
Draft3.pdf
Draft3.synctex.gz
legacy.bbl
legacy.blg
legacy.aux

legacy.out

legacy.pdf

legacy.suppinfo

legacy.synctex.gz

*.vcf

HWE.txt

join.txt

joinedAF.csv

JoinedFrequency.txt

Rejected_Manhattan.R
